<style>
body {
  background-image: url("alone-back-view-beach-460211.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed;
}
</style>
